body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F7E3;
}

.consultaFuck h1{
    font-size: 250%;
}

@media (max-width: 800px) {

    .menuFrances .h5{
        font-size: 0px;
        padding: 0px;
        margin: 0px;
        
    }

    
}