.bg-custom-light {
    background-color: #F8F7E3;
}

.bg-custom-dark {
    background-color: #32383E;
}

.bg-custom-purple {
    background-color: #B98DEE;
}

.bg-custom-lightblue {
    background-color: #55CED5;
}

.bg-custom-darkblue {
    background-color: #3F3FBD;
}

body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F7E3;
}
  
h3{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}

.container .row{
    margin-top: 30px;
}

#rap-rel-produtos {
    overflow-y: scroll;
    height: 390px;
}

.nav-pills .nav-link.active {
    background-color: #F8F7E3!important;
    color: #32383E!important;
    font-weight: bolder;
}

.nav-pills .nav-link:not(active) {
    color: #3F3FBD!important;
    font-weight: bold;
}
.container .kaka{
    margin: 0px;
    margin-top: 40%;
    margin-right: 5%;
}
.spaceUhu{
    margin-left: 5%;
}

@media (width: 1199px) {
    .tabelaNova{
        position: fixed;
    }
    .whaat{
        width: 20%;
    }
    .LOL{
        border-width: 2%;
        border-radius: 50%;
        font-weight: 50%;
        width: 40%;
        font-size: small;
    }
    .titulo-consulta-home{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 180%;
        margin-top: 2%;
    }
    .danielDeDeus{
        margin-top: 30%;
        margin-left: 10%;
    }
}

@media (width: 575px) {
    .whaat{
        margin-top: 5%;
        width: 100%;
    }
    .danielDeDeus{
        position: fixed;
        margin-top: 120%;
    }

}