.bg-custom-light {
    background-color: #F8F7E3;
}

.bg-custom-dark {
    background-color: #32383E;
}

.bg-custom-purple {
    background-color: #B98DEE;
}

.bg-custom-lightblue {
    background-color: #55CED5;
}

#rap-rel-produtos {
    overflow-y: scroll;
    height: 390px;
}